/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/* ////////////////////////////////////////////////////////////////////////////// GRID */

.grid_1 { width: 6.5%; } 
.grid_2 { width: 15%; } 
.grid_3 { width: 23.5%; } 
.grid_4 { width: 32%; } 
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; } 
.grid_7 { width: 57.5%; } 
.grid_8 { width: 66%; } 
.grid_9 { width: 74.5%; } 
.grid_10 { width: 83%; } 
.grid_11 { width: 91.5%; } 
.grid_12 { width: 100%; } 

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 2% 1% 0;
	float: left;
	display: block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
	width: 90%; /*width: 1000px;*/
	max-width: 1000px;
	margin: auto;
	
}


.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/* Mobile */
@media screen and (max-width : 480px) {

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}

}

@media screen and (max-width : 850px) and (min-width: 670px)  {
	.info, .title {font-size:1em !important;}
	.address {width: 300px !important;}
	.title {width: 20px  !important;}
	.info {width: 270px  !important;}
	form input, 
	form textarea {
		width: 250px !important;
	}

}
@media screen and (max-width : 850px) {
	.tuk_x1 {
		left: -15% !important;
	}
	.tuk_x4 {
		left: -15% !important;
	}
	.tuk_x4 img {width: 70% !important;}
	.x10, .x2 { display: none !important;}
	.x9 {left: 0% !important;}

}
@media screen and (max-width : 950px) {
	.x7, .x4 {display: none !important;}
}
@media screen and (max-width: 670px)  {
	.col-xs-6 {
		float: none !important;
		width: 100% !important;
	}
}


@media screen and (max-width : 720px) {
	body {font-size: 0.8em;}
	.pixel img,
	.pixel2 img{width: 80%;}
	.pixel2x img{width: 220%;}
}

@media screen and (max-width : 530px) {
	body {font-size: 0.7em;}
	.absolute-center{padding-bottom: 100px !important;}
	h1 {font-size: 2em !important;}
	.cover_photo .textphoto {
			width: 250px !important;
			margin-left: -125px !important;
	}
	.x1,.x2,.x3,.x4,.x5,
	.x6,.x7,.x8,.x9,.x10,
	.tuk_x1,
	.tuk_x2,
	.tuk_x3,
	.tuk_x4 {display: none !important;}



}
@media screen and (max-width : 430px){
	form input, 
	form textarea {width: 250px !important; padding: 10px !important;}
	.address .info {width: 250px !important;}
	.address {width: 300px !important;}


}

@media screen and (max-width : 325px) {

	h1 {font-size: 1.6em !important;}
}



/* ////////////////////////////////////////////////////////////////////////////// Icon */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-kfxpy');
	src:url('../fonts/icomoon.eot?#iefix-kfxpy') format('embedded-opentype'),
		url('../fonts/icomoon.svg?-kfxpy#icomoon') format('svg'),
		url('../fonts/icomoon.woff?-kfxpy') format('woff'),
		url('../fonts/icomoon.ttf?-kfxpy') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pictures:before {
	content: "\e010";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-map:before {
	content: "\e025";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-camera:before {
	content: "\e600";
}
.icon-pen:before {
	content: "\e601";
}
.icon-shop:before {
	content: "\e602";
}
.icon-at:before {
	content: "\e603";
}
.icon-left-quote-alt:before {
	content: "\e609";
}
.icon-right-quote-alt:before {
	content: "\e60a";
}
.icon-layers-alt:before {
	content: "\e60b";
}
.icon-layers:before {
	content: "\e60c";
}
.icon-phone:before {
	content: "\e604";
}
.icon-location:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-right:before {
	content: "\e60d";
}
.icon-arrow-down2:before {
	content: "\e60e";
}
.icon-uniE60F:before {
	content: "\e60f";
}
.icon-cc:before {
	content: "\e610";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-instagram:before {
	content: "\e608";
}

/* ////////////////////////////////////////////////////////////////////////////// mobile menu */

.rmm {
	display:block;
	position:relative;
	width:100%;
	padding:0px;
	text-align: center;
}
.rmm * {
	-webkit-tap-highlight-color:transparent !important;
}
.rmm a {
	color:#ebebeb;
	text-decoration:none;
}
.rmm .rmm-main-list, .rmm .rmm-main-list li {
	margin:0px;
	padding:0px;
}
.rmm ul {
	display:block;
	width:auto !important;
	
	overflow:hidden;
	list-style:none;
}


.rmm .rmm-main-list li {
	display:inline;
	padding:0px;
	margin:0px !important;
}
.rmm-toggled {
	display:none;
	width:100%;
	position:relative;
	overflow:hidden;
	margin:0 auto !important;
}
.rmm-button:hover {
	cursor:pointer;
}
.rmm .rmm-toggled ul {
	display:none;

	padding:0px !important;
}
.rmm .rmm-toggled ul li {
	display:block;
	margin:0 auto !important;
}

.rmm.minimal a:hover {
	opacity:0.7;
}
.rmm.minimal .rmm-main-list li a {
	display:inline-block;
}
.rmm.minimal .rmm-toggled {
	width:95%;
	min-height:36px;
}
.rmm.minimal .rmm-toggled-controls {
	display:block;
	height:36px;
	color:#333333;
	text-align:left;
	position:relative;
}
.rmm.minimal .rmm-toggled-title {
	position:relative;
	top:9px;
	left:9px;
	font-size:16px;
	color:#333333;
}
.rmm.minimal .rmm-button {
	display:block;
	position:absolute;
	right:9px;
	top:7px;
}

.rmm.minimal .rmm-button span {
	display:block;
	margin:4px 0px 4px 0px;
	height:2px;
	background:#fff;
	width:25px;
}
.rmm.minimal .rmm-toggled ul li a {
	display:block;
	width:100%;
	text-align:center;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #DBAA6B;
	color:#85431f;
}
.rmm.minimal .rmm-toggled ul li:first-child a {
	border-top:none;
}
.rmm.minimal .rmm-toggled ul li:last-child a {
	border-bottom:none;
}
.rmm-closed ul {margin-top: 40px;}
.rmm-toggled ul {margin-top: 40px;}

/* ////////////////////////////////////////////////////////////////////////////// STYLE */



html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
	font-family: 'Lato', 'sans-serif';
	color: #444;
}
header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: auto;
	background: url(../images/menu_bg.png) #efc070;
	z-index: 100;
	-webkit-text-stroke: 0.3px;
	font-weight: bolder;
	font-family: 'Lato', 'sans-serif';
}

h3 {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family: 'Lato', 'sans-serif';
	color: #76C0C0;
	font-size: 1.5em;
	text-transform: uppercase;
	font-style: italic;
	background: rgb(228, 245, 255);
	margin: 0;
	padding: 10px 40px;
}
#logo {
	margin: 10px 0;
	float: left;
	position:absolute;
}
#nav {
	text-transform: uppercase;
	text-align: right;
	margin: 15px 0 18px 0;
	color: #727473;
	float: right;
}
.global_center {text-align: center;}

.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
}

.navigation .active{
	cursor:pointer;
	color: #fff;
	font-weight:bold;
	background-color: #5fcdcc;
	border-radius: 50px; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
/*	border: 3px solid rgba(1, 1, 1, 0.1);*/
  	background-image: 
    repeating-linear-gradient(
      45deg,
      #5fcdcc,
      #5fcdcc 10px,
      #59c1be 10px,
      #59c1be 20px /* determines size */
    );
}
.navigation a{
	padding: 5px 10px;
	color: #727473; 
	text-decoration: none;
	font-size: 0.9em;
}

#slide1 {background: #ffcb00;}
#slide2 {background: #f6f6f6;}
#slide3 {background: #8fc9bf;}
#slide4 {background: #f6f6f6;}
#slide4 {padding-bottom: 50px;}

.absolute-center {
  width: 70%;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  position:relative;
  z-index: 10;
}
#html1 .absolute-center,
#html3 .absolute-center {
  padding-top: 230px !important;
}

.slide, .slidex {position: relative; overflow: hidden;}

#html1 .absolute-center span{
	font-size: 6em;
	color: white;
	padding: 47px;

	        border-radius: 	50%;
	   -moz-border-radius: 	50%;
	-webkit-border-radius: 	50%;

	background: #f05e37;
	box-shadow: inset 0 0 0 16px #f78d37;
	-webkit-transition: all 0.3s ease-out 0.1s;
	   -moz-transition: all 0.3s ease-out 0.1s;
	    -ms-transition: all 0.3s ease-out 0.1s;
	     -o-transition: all 0.3s ease-out 0.1s;
	        transition: all 0.3s ease-out 0.1s;
}

#html1 .absolute-center span:hover{
	box-shadow: inset 0 0 0 0px #f78d37;
	background: #f7931d;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	   -moz-transition: all 0.3s ease-in-out 0.1s;
	    -ms-transition: all 0.3s ease-in-out 0.1s;
	     -o-transition: all 0.3s ease-in-out 0.1s;
	        transition: all 0.3s ease-in-out 0.1s;
}
#html1 h1 i,
#html2 h1 i,
#html3 h1 i {
	font-family: 'Lato', 'sans-serif';
	padding-right: 5px;
  	font-style: italic;
  	font-weight: 900;
}
#html1 h1,
#html2 h1,
#html3 h1 {
	-webkit-text-stroke : 0.3px;
	font-family: 'Lato', 'sans-serif';
  	font-style: normal;
  	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5em;
	margin-top: 80px;
}
#html1 p,
#html2 p,
#html3 p{
	font-family: 'Lato', 'sans-serif';
  	font-style: normal;
  	font-weight: 400;
  	color: #fff;
	text-transform: uppercase;
	-webkit-text-stroke : 0.6px;
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
}

.pixel,.pixel2 {
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.x1 {left: 70%; top: 10%;}
.x2 {left: 90%; top: 10%;}
.x3 {left: 5%; top: 5%;}
.x4 {left: 20%; top: 40%;}
.x5 {left: 10%; top: 110%;}
.x6 {left: 85%; top: 40%;}
.x7 {left: 60%; top: 30%;}
.x8 {left: 80%; top: 85%;}
.x9 {left: 8%; top: 62%;}
.x10 {left: 30%; top: 10%;}

.photo1 {background: url(../images/im/2.jpg) no-repeat center center fixed;}
.photo2 {background: url(../images/im/1.jpg) no-repeat center center fixed;}
.photo3 {background: url(../images/im/3.jpg) no-repeat center center fixed;}
.photo1,.photo2,.photo3{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;

  background-size: 100%;
  background-attachment: fixed;
}
.triangle{
  margin:auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 45px 0 45px;
  border-color: #ffcb00 transparent transparent transparent;
  line-height: 0px;
  _border-color: #ffcb00 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.triangle2{
  margin:auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 45px 0 45px;
  border-color: #f6f6f6 transparent transparent transparent;
  line-height: 0px;
  _border-color: #f6f6f6 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.triangle3{
  margin:auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 45px 0 45px;
  border-color: #8fc9bf transparent transparent transparent;
  line-height: 0px;
  _border-color: #8fc9bf #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
#html2 h1 i,
#html2 h1,
#html2 p {color: #aaaaaa !important;}
#html2 .absolute-center img{
 	width: 160px;
	color: white;
	padding: 15px;

	        border-radius: 	50%;
	   -moz-border-radius: 	50%;
	-webkit-border-radius: 	50%;

	background: #61cbf1;
	box-shadow: inset 0 0 0 18px #61cbf1;
	-webkit-transition: all 0.3s ease-out 0.1s;
	   -moz-transition: all 0.3s ease-out 0.1s;
	    -ms-transition: all 0.3s ease-out 0.1s;
	     -o-transition: all 0.3s ease-out 0.1s;
	        transition: all 0.3s ease-out 0.1s;
}

#html2 .absolute-center img:hover{
	box-shadow: inset 0 0 0 0px #8ed6ff;
	background: #0073b4;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	   -moz-transition: all 0.3s ease-in-out 0.1s;
	    -ms-transition: all 0.3s ease-in-out 0.1s;
	     -o-transition: all 0.3s ease-in-out 0.1s;
	        transition: all 0.3s ease-in-out 0.1s;
}
#html2 h1{margin-top: 35px;}
#slide2 {overflow: hidden;}
.tuk_x1 {left: -5%; top: 60%;}
.tuk_x2 {left: 81%; top: 60%;}
.tuk_x3 {left: 75%; top: -15%;}
.tuk_x4 {left: -10%; top: 5%;}
.tuk_x1,.tuk_x2,.tuk_x3,.tuk_x4{
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



#html3 .absolute-center span{
	font-size: 6em;
	color: white;
	padding: 47px 60px;

	        border-radius: 	50%;
	   -moz-border-radius: 	50%;
	-webkit-border-radius: 	50%;

	background: #3ba84d;
	box-shadow: inset 0 0 0 16px #6ac781;
	-webkit-transition: all 0.3s ease-out 0.1s;
	   -moz-transition: all 0.3s ease-out 0.1s;
	    -ms-transition: all 0.3s ease-out 0.1s;
	     -o-transition: all 0.3s ease-out 0.1s;
	        transition: all 0.3s ease-out 0.1s;
}

#html3 .absolute-center span:hover{
	box-shadow: inset 0 0 0 25px #3ba84d;
	background: #6ac781;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	   -moz-transition: all 0.3s ease-in-out 0.1s;
	    -ms-transition: all 0.3s ease-in-out 0.1s;
	     -o-transition: all 0.3s ease-in-out 0.1s;
	        transition: all 0.3s ease-in-out 0.1s;
}




#html4 .col-xs-6{
  position: relative;
  min-height: 1px;
  float: left;
  width: 50%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after{
  content: " ";
  display: table;
}
.row:after{
  clear: both;
}

.col-xs-6 { 
	text-align: center;
}



.into_msg { 
	text-transform: uppercase;
}


















.cover_photo {width:100%; overflow: hidden;}

#Photos ul li{
	width:auto;
	height:auto;
	float:left;
}
#Photos ul { 
	list-style-type: none;
	padding: 0 0 0 0px;
	margin-top: 0px;

}
#Photos {
	overflow: hidden;
	width: 100%;
	height: 450px;
	position: relative;
}
#Photos img {
	opacity:0.4;
	filter:alpha(opacity=40); 
}
#Photos img:hover {
	opacity:1;
	filter:alpha(opacity=100); 
}
.cover_photo .textphoto {
	z-index: 2;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	position: absolute;
	color: #747474;
	background-color: #d4d2dd;
	overflow: hidden;
	-webkit-text-stroke: 0.3px;
	text-transform: uppercase;
	margin-top: 150px;
}
.cover_photo .textphoto span {font-size: 2.5em;}

.rule {
	border-right:3px solid #efefef;
	height: 100px;
	width: 50%;
}
.rule2 {
	border-right:3px solid #efefef;
	height: 30px;
	width: 50%;
}


.circle_sm {
	font-size: 2em;
	color: white;
	padding: 15px 11px;

	        border-radius: 	50%;
	   -moz-border-radius: 	50%;
	-webkit-border-radius: 	50%;

	-webkit-text-stroke: 0.3px;
	background: #29a5eb;
	box-shadow: inset 0 0 0 5px #61cbf1;

}
.circle_sm2 {
	font-size: 1.8em;
	color: white;
	padding: 15px 13px;

	        border-radius: 	50%;
	   -moz-border-radius: 	50%;
	-webkit-border-radius: 	50%;

	-webkit-text-stroke: 0.3px;
	background: #29a5eb;
	box-shadow: inset 0 0 0 5px #61cbf1;

}


.address {width: 400px; margin: auto;}
.address .title {
	width: 40px;
	background-color: #e8e8e8;
	float: left;
	color: #797979;
	font-size: 1.5em;

}
.address a {color: #797979;}
.address .info {
	padding-left: 10px;
	text-align: left;
	width: 350px;
	background-color: #e4f5ff;
	float: left;
	color: #797979;
	font-size: 1.3em;
	-webkit-text-stroke: 0.3px;

}
.ep1 {background-color: #e0e0e0 !important;}
.ep2 {background-color: #d8d8d8 !important;}
.ex1 {background-color: #d6f0ff !important;}
.ex2 {background-color: #c0e7fd !important;}
.ep1,.ep2,.ep0 {line-height: 1.4em;}
.ex1,.ex2 {line-height: 1.6em;}


fieldset {border: none;}
form input, 
form textarea {
	font-family: 'Lato', 'sans-serif';
	-webkit-text-stroke: 0.3px;
	padding: 20px;
	font-size: 1.2em;
	border: none;
	width: 300px;
}

form textarea { height: 300px;}

form input {
	background: white;

}

form input[type="submit"]{
	width: 150px;
	color: #46b8d3;
	background: #c0e7fd;
	-webkit-text-stroke: 0.3px;
}


footer {
	background: url(../images/menu_bg.png) #efc070;
	text-align: center;
	font-size: 0.9em;
	padding: 10px;
	-webkit-text-stroke: 0.3px;
	color: #78613a;
}
footer img { margin-bottom: 5px; width: 55px;}
















